<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.ActSignMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.ActSign">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="act_id" jdbcType="BIGINT" property="actId" />
    <result column="ref_id" jdbcType="BIGINT" property="refId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="shop_video" jdbcType="VARCHAR" property="shopVideo" />
    <result column="player_video" jdbcType="VARCHAR" property="playerVideo" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ActSignOutMap" type="com.xq.live.vo.out.ActSignOut" extends="BaseResultMap">

  </resultMap>

  <sql id="Base_Column_List">
    id,act_id, ref_id, type, sku_id, shop_video, player_video, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_sign
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from act_sign
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.vo.in.ActSignInVo">
    insert into act_sign (id,act_id, ref_id, type,
      sku_id, shop_video, player_video, 
      is_deleted, create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{actId,jdbcType=BIGINT}, #{refId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER},
      #{skuId,jdbcType=BIGINT}, #{shopVideo,jdbcType=VARCHAR}, #{playerVideo,jdbcType=VARCHAR}, 
      0, now(), now())
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      select last_insert_id() as id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.vo.in.ActSignInVo">
    insert into act_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="refId != null">
        ref_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="shopVideo != null">
        shop_video,
      </if>
      <if test="playerVideo != null">
        player_video,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=BIGINT},
      </if>
      <if test="refId != null">
        #{refId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="shopVideo != null">
        #{shopVideo,jdbcType=VARCHAR},
      </if>
      <if test="playerVideo != null">
        #{playerVideo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.vo.in.ActSignInVo">
    update act_sign
    <set>
      <if test="refId != null">
        ref_id = #{refId,jdbcType=BIGINT},
      </if>
      <if test="actId != null">
        act_id = #{actId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="shopVideo != null">
        shop_video = #{shopVideo,jdbcType=VARCHAR},
      </if>
      <if test="playerVideo != null">
        player_video = #{playerVideo,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.vo.in.ActSignInVo">
    update act_sign
    set ref_id = #{refId,jdbcType=BIGINT},
      act_id = #{actId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=BIGINT},
      shop_video = #{shopVideo,jdbcType=VARCHAR},
      player_video = #{playerVideo,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countByActId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(1) from act_sign where act_id = #{actId,jdbcType=BIGINT} and is_deleted = 1
  </select>

  <select id="isSign" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from act_sign
    where ref_id = #{refId,jdbcType=BIGINT}
    and act_id = #{actId,jdbcType=BIGINT}
    and type = #{type,jdbcType=INTEGER}
    and is_deleted = 0
  </select>
</mapper>
