<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.CouponSkuMapper">
    <resultMap id="BaseResultMap" type="com.xq.live.model.CouponSku">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sku_id" jdbcType="BIGINT" property="skuId"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sku_id,sku_code, amount, type, is_deleted, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from coupon_sku
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectBySkuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from coupon_sku
        where sku_id = #{skuId,jdbcType=BIGINT}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from coupon_sku
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="skuCode != null">
                and sku_code = #{skuCode}
            </if>
            <if test="skuId != null">
                and sku_id = #{skuId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by id desc
        limit #{start}, #{rows}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coupon_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.xq.live.model.CouponSku">
        insert into coupon_sku (sku_id, sku_code, amount,
        type, is_deleted, create_time,
        update_time)
        values (#{skuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{amount,jdbcType=INTEGER},
        #{type,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, now(),
        now())
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            select last_insert_id() as id
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.xq.live.model.CouponSku">
        insert into coupon_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.CouponSku">
        update coupon_sku
        <set>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=BIGINT},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xq.live.model.CouponSku">
    update coupon_sku
    set sku_id = #{skuId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>