<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.DataDicMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.DataDic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="dic_cname" jdbcType="VARCHAR" property="dicCname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
  </resultMap>
  
  <resultMap id="DataDicOutMap" type="com.xq.live.vo.out.DataDicOut" extends="BaseResultMap">


  </resultMap>
  
  <sql id="Base_Column_List">
    id, type, code, dic_cname, create_time, update_time,is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dic
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByTypeAndCode" parameterType="com.xq.live.vo.in.DataDicInvo" resultMap="DataDicOutMap">
    select
    <include refid="Base_Column_List" />
    from data_dic
    where type = #{type,jdbcType=TINYINT}
    and code = #{code,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_dic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.vo.in.DataDicInvo">
    insert into data_dic (id, type, code, 
      dic_cname, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{code,jdbcType=VARCHAR}, 
      #{dicCname,jdbcType=VARCHAR}, now(), now()
      )
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      select last_insert_id() as id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.vo.in.DataDicInvo">
    insert into data_dic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="dicCname != null">
        dic_cname,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dicCname != null">
        #{dicCname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.vo.in.DataDicInvo">
    update data_dic
    <set>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dicCname != null">
        dic_cname = #{dicCname,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.vo.in.DataDicInvo">
    update data_dic
    set type = #{type,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      dic_cname = #{dicCname,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listForType" parameterType="com.xq.live.vo.in.DataDicInvo" resultMap="DataDicOutMap">
    select
    <include refid="Base_Column_List" />
    from data_dic
    where type = #{type,jdbcType=TINYINT}
    and is_deleted =0
  </select>
</mapper>
