<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.PromotionRulesMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.PromotionRules">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
    <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="PromotionRulesMap" type="com.xq.live.vo.out.PromotionRulesOut" extends="BaseResultMap">
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="in_price" jdbcType="DECIMAL" property="inPrice" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sku_id, sku_code, sku_name, rule_type, rule_desc, end_time, shop_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from promotion_rules
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySkuIdAndSkuCode" parameterType="com.xq.live.vo.in.ProRuInVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from promotion_rules
    <where>
      <if test="skuId !=null">
        sku_id = #{skuId,jdbcType=BIGINT}
      </if>
      <if test="skuCode !=null">
        AND sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByShopId" parameterType="java.lang.Integer" resultMap="PromotionRulesMap">
    select
    p.id,
    p.sku_id,
    p.sku_code,
    p.sku_name,
    p.rule_type,
    p.rule_desc,
    p.end_time,
    p.shop_id,
    p.create_time,
    p.update_time,
    s.sell_price,
    s.in_price
    from promotion_rules p
    INNER JOIN sku s on p.sku_id = s.id
    where p.shop_id =  #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from promotion_rules
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.model.PromotionRules">
    insert into promotion_rules (id, sku_id, sku_code, 
      sku_name, rule_type, rule_desc, 
      end_time, shop_id, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{ruleType,jdbcType=INTEGER}, #{ruleDesc,jdbcType=VARCHAR}, 
      now(), #{shopId,jdbcType=INTEGER}, now(),
      now())
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      select last_insert_id() as id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.PromotionRules">
    insert into promotion_rules
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="ruleDesc != null">
        rule_desc,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="ruleDesc != null">
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.PromotionRules">
    update promotion_rules
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="ruleDesc != null">
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.PromotionRules">
    update promotion_rules
    set sku_id = #{skuId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=INTEGER},
      rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      shop_id = #{shopId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
