<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.Shop">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="index_url" jdbcType="VARCHAR" property="indexUrl" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="shop_info" jdbcType="VARCHAR" property="shopInfo" />
    <result column="location_x" jdbcType="DECIMAL" property="locationX" />
    <result column="location_y" jdbcType="DECIMAL" property="locationY" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="pop_num" jdbcType="INTEGER" property="popNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_name, address, mobile, phone, index_url, logo_url, shop_info, location_x, location_y,
    is_deleted, pop_num, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getShopByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
        s.id,
        s.shop_name,
        s.address,
        s.mobile,
        s.phone,
        s.index_url,
        s.logo_url,
        s.shop_info,
        s.location_x,
        s.location_y,
        s.is_deleted,
        s.pop_num,
        s.remark,
        s.create_time,
        s.update_time
    FROM
        shop s inner join user u on s.id = u.shop_id
    where u.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.model.Shop">
    insert into shop (shop_name, address,
      mobile, phone, index_url,logo_url,
      shop_info, location_x, location_y, 
      remark, create_time,
      update_time)
    values (#{shopName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{indexUrl,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR},
      #{shopInfo,jdbcType=VARCHAR}, #{locationX,jdbcType=DECIMAL}, #{locationY,jdbcType=DECIMAL},
      #{remark,jdbcType=VARCHAR}, now(), now())
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="indexUrl != null">
        index_url,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="shopInfo != null">
        shop_info,
      </if>
      <if test="locationX != null">
        location_x,
      </if>
      <if test="locationY != null">
        location_y,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        #{indexUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="shopInfo != null">
        #{shopInfo,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.Shop">
    update shop
    <set>
      update_time = now(),
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        index_url = #{indexUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="shopInfo != null">
        shop_info = #{shopInfo,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.Shop">
    update shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      index_url = #{indexUrl,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      shop_info = #{shopInfo,jdbcType=VARCHAR},
      location_x = #{locationX,jdbcType=DECIMAL},
      location_y = #{locationY,jdbcType=DECIMAL},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" parameterType="com.xq.live.model.Shop" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    <where>
      <if test="searchKey !=null">
        id = #{searchKey} or shop_name like concat('%', #{searchKey}, '%')
      </if>
    </where>
    order by id desc
    limit #{start}, #{rows}
  </select>

  <select id="listTotal" resultType="java.lang.Integer">
    select count(1) from shop
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="shopName != null">
        and shop_name = #{shopName}
      </if>
    </where>
  </select>

  <update id="updatePopNum" parameterType="java.lang.Long">
    update shop set pop_num = pop_num + 1 where id = #{id}
  </update>
</mapper>
