<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.Shop">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="index_url" jdbcType="VARCHAR" property="indexUrl" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="shop_info" jdbcType="VARCHAR" property="shopInfo" />
    <result column="location_x" jdbcType="DECIMAL" property="locationX" />
    <result column="location_y" jdbcType="DECIMAL" property="locationY" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="pop_num" jdbcType="INTEGER" property="popNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="shop_status" jdbcType="INTEGER" property="shopStatus"/>
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus"/>
    <result column="business_cate" jdbcType="VARCHAR" property="businessCate"/>
    <result column="shop_code" jdbcType="VARCHAR" property="shopCode"/>
  </resultMap>

  <resultMap id="ShopOutResultMap" type="com.xq.live.vo.out.ShopOut" extends="BaseResultMap">
    <result column="distance" jdbcType="INTEGER" property="distance" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />    <!--特色菜名称-->
    <collection property="ruleDescs" ofType="java.lang.String">
      <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, shop_name, address, mobile, phone, index_url, logo_url, shop_info, location_x, location_y,
    is_deleted, pop_num, remark, create_time, update_time,shop_status,apply_status,business_cate,shop_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByShopName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
    where shop_name = #{shopName,jdbcType=VARCHAR}
  </select>

  <select id="getShopByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
        s.id,
        s.shop_name,
        s.address,
        s.mobile,
        s.phone,
        s.index_url,
        s.logo_url,
        s.shop_info,
        s.location_x,
        s.location_y,
        s.is_deleted,
        s.pop_num,
        s.remark,
        s.create_time,
        s.update_time,
        s.shop_status,
        s.apply_status,
        s.business_cate,
        s.shop_code
    FROM
        shop s inner join user u on s.id = u.shop_id
    where u.id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.model.Shop">
    insert into shop (shop_name, address,
      mobile, phone, index_url,logo_url,
      shop_info, location_x, location_y, 
      remark, create_time,
      update_time,business_cate,shop_code)
    values (#{shopName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{indexUrl,jdbcType=VARCHAR}, #{logoUrl,jdbcType=VARCHAR},
      #{shopInfo,jdbcType=VARCHAR}, #{locationX,jdbcType=DECIMAL}, #{locationY,jdbcType=DECIMAL},
      #{remark,jdbcType=VARCHAR}, now(), now(), #{businessCate,jdbcType=VARCHAR},#{shopCode,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="indexUrl != null">
        index_url,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="shopInfo != null">
        shop_info,
      </if>
      <if test="locationX != null">
        location_x,
      </if>
      <if test="locationY != null">
        location_y,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="shopStatus != null">
        shop_status,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="businessCate != null">
        business_cate,
      </if>
      <if test="shopCode != null">
        shop_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        #{indexUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="shopInfo != null">
        #{shopInfo,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopStatus != null">
        #{shopStatus,jdbcType=INTEGER},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=INTEGER},
      </if>
      <if test="businessCate != null">
        #{businessCate,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null">
        #{shopCode,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.Shop">
    update shop
    <set>
      update_time = now(),
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="indexUrl != null">
        index_url = #{indexUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="shopInfo != null">
        shop_info = #{shopInfo,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="shopStatus != null">
        shop_status = #{shopStatus,jdbcType=INTEGER},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=INTEGER},
      </if>
      <if test="businessCate != null">
        business_cate = #{businessCate,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null">
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.Shop">
    update shop
    set shop_name = #{shopName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      index_url = #{indexUrl,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      shop_info = #{shopInfo,jdbcType=VARCHAR},
      location_x = #{locationX,jdbcType=DECIMAL},
      location_y = #{locationY,jdbcType=DECIMAL},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = now(),
      shop_code = #{shopCode,jdbcType=VARCHAR},
      business_cate = #{businessCate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="ShopOutResultMap">
    SELECT
      s.id,
      s.shop_name,
      s.address,
      s.mobile,
      s.phone,
      s.index_url,
      s.logo_url,
      s.shop_info,
      s.location_x,
      s.location_y,
      s.is_deleted,
      s.pop_num,
      s.remark,
      s.create_time,
      s.update_time,
      s.shop_status,
      s.apply_status,
      s.business_cate,
      s.shop_code,
      <choose>
        <when test="locationX != null and locationY != null"> ROUND(
          6378.138 * 2 * ASIN(
          SQRT(
          POW(
          SIN(
          (
          <if test="locationY != null">
            #{locationY}
          </if> * PI() / 180 - s.location_y * PI() / 180
          ) / 2
          ),
          2
          ) + COS(<if test="locationY != null">
            #{locationY}
          </if> * PI() / 180) * COS(s.location_y * PI() / 180) * POW(
          SIN(
          (
          <if test="locationX != null">
            #{locationX}
          </if> * PI() / 180 - s.location_x * PI() / 180
          ) / 2
          ),
          2
          )
          )
          ) * 1000
          )</when>
        <when test="locationX == null or locationY == null">0</when>
      </choose>
      AS distance,
      (select u.sku_name from sku u inner join sku_shop ss ON u.id = ss.sku_id where ss.shop_id = s.id limit 1) as sku_name,
      ' ' as rule_desc
      FROM
      shop s
    <where>
      1=1
      <if test="searchKey !=null">
       and (s.id = #{searchKey} or shop_name like concat('%', #{searchKey}, '%'))
      </if>
      <if test="businessCate !=null">
        and business_cate like concat('%', #{businessCate}, '%')
      </if>
      <if test="city !=null">
        and city = #{city}
      </if>
      and is_deleted = 0
    </where>
    order by
    <if test="browSort != null and browSort == 2 ">
     pop_num desc,
    </if>
     distance
    limit #{start}, #{rows}
  </select>

  <select id="listForChuanXiang" resultMap="ShopOutResultMap">
    SELECT
    s.id,
    s.shop_name,
    s.address,
    s.mobile,
    s.phone,
    s.index_url,
    s.logo_url,
    s.shop_info,
    s.location_x,
    s.location_y,
    s.is_deleted,
    s.pop_num,
    s.remark,
    s.create_time,
    s.update_time,
    s.shop_status,
    s.apply_status,
    s.business_cate,
    s.shop_code,
    <choose>
      <when test="locationX != null and locationY != null"> ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        <if test="locationY != null">
          #{locationY}
        </if> * PI() / 180 - s.location_y * PI() / 180
        ) / 2
        ),
        2
        ) + COS(<if test="locationY != null">
          #{locationY}
        </if> * PI() / 180) * COS(s.location_y * PI() / 180) * POW(
        SIN(
        (
        <if test="locationX != null">
          #{locationX}
        </if> * PI() / 180 - s.location_x * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        )</when>
      <when test="locationX == null or locationY == null">0</when>
    </choose>
    AS distance,
    (select u.sku_name from sku u inner join sku_shop ss ON u.id = ss.sku_id where ss.shop_id = s.id limit 1) as sku_name,
    ' ' as rule_desc
    FROM
    shop s
    where ( business_cate like '%川菜%' or business_cate LIKE '%湘菜%' or business_cate LIKE '%川湘菜%')
    and is_deleted = 0
    <if test="city !=null">
      and city = #{city}
    </if>
    order by
    <if test="browSort != null and browSort == 2 ">
      pop_num desc,
    </if>
    distance
    limit #{start}, #{rows}
  </select>

  <select id="listTotal" resultType="java.lang.Integer">
    select count(1) from shop
    <where>
      1=1
      <if test="id != null">
       and id = #{id}
      </if>
      <if test="shopName != null">
        and shop_name = #{shopName}
      </if>
      <if test="city !=null">
        and city = #{city}
      </if>
      <if test="shopCode != null">AND shop_code = #{shopCode,jdbcType=VARCHAR}</if>
    </where>
  </select>

  <update id="updatePopNum" parameterType="java.lang.Long">
    update shop set pop_num = pop_num + 1 where id = #{id}
  </update>

  <select id="findShopOutById" resultMap="ShopOutResultMap">
    select
    <include refid="Base_Column_List" />, 0 as distance, '' as sku_name,'' as rule_desc
    from shop
    where
    id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findShopOutByCode" resultMap="ShopOutResultMap">
    select
    <include refid="Base_Column_List"/>, 0 as distance, '' as sku_name,'' as rule_desc
    from shop
    where
    shop_code = #{shopCode,jdbcType=VARCHAR}
  </select>
</mapper>
