<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.ShopEnterMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.ShopEnter">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="business_cate" jdbcType="VARCHAR" property="businessCate" />
    <result column="license_pic" jdbcType="VARCHAR" property="licensePic" />
    <result column="health_pic" jdbcType="VARCHAR" property="healthPic" />
    <result column="door_pic" jdbcType="VARCHAR" property="doorPic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="location_x" jdbcType="DECIMAL" property="locationX"/>
    <result column="location_y" jdbcType="DECIMAL" property="locationY"/>
    <result column="city" jdbcType="VARCHAR" property="city"/>
  </resultMap>

  <resultMap id="ShopEnterOutMap" extends="BaseResultMap" type="com.xq.live.vo.out.ShopEnterOut">

  </resultMap>

  <sql id="Base_Column_List">
    id, user_name, mobile, shop_name, address, business_cate, license_pic, health_pic,
    door_pic, create_time, update_time, user_id,status,location_x,location_y,city
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_enter
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="ShopEnterOutMap">
    select
    <include refid="Base_Column_List" />
    from shop_enter
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByUserIdAndShopName" parameterType="com.xq.live.model.ShopEnter" resultMap="ShopEnterOutMap">
    select
    <include refid="Base_Column_List" />
    from shop_enter
    where (user_id = #{userId,jdbcType=BIGINT}
    or shop_name = #{shopName,jdbcType=VARCHAR}) and status !=2
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_enter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.model.ShopEnter">
    insert into shop_enter (id, user_name, mobile,
    shop_name, address, business_cate,
    license_pic, health_pic, door_pic,
    create_time, update_time, user_id,location_x,location_y,city
    )
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
    #{shopName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{businessCate,jdbcType=VARCHAR},
    #{licensePic,jdbcType=VARCHAR}, #{healthPic,jdbcType=VARCHAR}, #{doorPic,jdbcType=VARCHAR},
    now(), now(), #{userId,jdbcType=BIGINT},#{locationX,jdbcType=DECIMAL},
    #{locationY,jdbcType=DECIMAL},#{city,jdbcType=VARCHAR}
    )
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.ShopEnter">
    insert into shop_enter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="businessCate != null">
        business_cate,
      </if>
      <if test="licensePic != null">
        license_pic,
      </if>
      <if test="healthPic != null">
        health_pic,
      </if>
      <if test="doorPic != null">
        door_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="locationX != null">
        location_x,
      </if>
      <if test="locationY != null">
        location_y,
      </if>
      <if test="city != null">
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessCate != null">
        #{businessCate,jdbcType=VARCHAR},
      </if>
      <if test="licensePic != null">
        #{licensePic,jdbcType=VARCHAR},
      </if>
      <if test="healthPic != null">
        #{healthPic,jdbcType=VARCHAR},
      </if>
      <if test="doorPic != null">
        #{doorPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="locationX != null">
        #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.ShopEnter">
    update shop_enter
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessCate != null">
        business_cate = #{businessCate,jdbcType=VARCHAR},
      </if>
      <if test="licensePic != null">
        license_pic = #{licensePic,jdbcType=VARCHAR},
      </if>
      <if test="healthPic != null">
        health_pic = #{healthPic,jdbcType=VARCHAR},
      </if>
      <if test="doorPic != null">
        door_pic = #{doorPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="locationX != null">
        location_x = #{locationX,jdbcType=DECIMAL},
      </if>
      <if test="locationY != null">
        location_y = #{locationY,jdbcType=DECIMAL},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.ShopEnter">
    update shop_enter
    set user_name = #{userName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      business_cate = #{businessCate,jdbcType=VARCHAR},
      license_pic = #{licensePic,jdbcType=VARCHAR},
      health_pic = #{healthPic,jdbcType=VARCHAR},
      door_pic = #{doorPic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      location_x = #{locationX,jdbcType=DECIMAL},
      location_y = #{locationY,jdbcType=DECIMAL},
      city = #{city,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
