<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.SkuMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.Sku">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="sku_type" jdbcType="INTEGER" property="skuType" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="in_price" jdbcType="DECIMAL" property="inPrice" />
    <result column="stock_num" jdbcType="INTEGER" property="stockNum" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="opreator_id" jdbcType="BIGINT" property="opreatorId" />
    <result column="opreator_name" jdbcType="VARCHAR" property="opreatorName" />
    <result column="sku_info" jdbcType="VARCHAR" property="skuInfo"/>
  </resultMap>
  
  <resultMap id="SkuOutResultMap" extends="BaseResultMap" type="com.xq.live.vo.out.SkuOut">
    <!--票券的面值-->
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <!--已售数量-->
    <result column="sell_num" jdbcType="INTEGER" property="sellNum" />
    <!-- 一个商品sku对应多个促销规则 -->
    <collection property="promotionRules" ofType="com.xq.live.model.PromotionRules">
      <result column="rule_id" jdbcType="BIGINT" property="id" />
      <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
      <result column="rule_desc" jdbcType="VARCHAR" property="ruleDesc" />
      <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
      <result column="shop_id" jdbcType="BIGINT" property="shopId" />
      <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    </collection>

  </resultMap>

  <resultMap id="TscZanResultMap" extends="BaseResultMap" type="com.xq.live.vo.out.SkuForTscOut">
    <result column="zan" jdbcType="INTEGER" property="zan"/>
    <result column="is_zan" jdbcType="INTEGER" property="isZan"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, sku_code, sku_name, sku_type, sell_price, in_price, is_deleted, pic_url, stock_num, create_time, update_time,
    opreator_id, opreator_name,sku_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--分页查询 start-->
  <select id="list" resultMap="SkuOutResultMap">
    SELECT
      sku.id,
      sku.sku_code,
      sku.sku_name,
      sku.sku_type,
      sku.sell_price,
      sku.in_price,
      sku.stock_num,
      sku.pic_url,
      sku.create_time,
      sku.update_time,
      sku.opreator_id,
      sku.opreator_name,
      sku.sku_info,
      pr.id rule_id,
      pr.rule_type,
      pr.rule_desc,
      pr.end_time,
      pr.shop_id,
      pr.sku_id,
      cs.amount,
    (select count(1) from coupon where sku_id = sku.id) sell_num
    FROM sku sku
    LEFT JOIN promotion_rules pr ON sku.id = pr.sku_id
    LEFT JOIN coupon_sku cs on sku.id = cs.sku_id
    <where>
      <if test="id != null">
        sku.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null">
        and sku.sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku.sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="skuType != null">
        and sku.sku_type = #{skuType,jdbcType=INTEGER}
      </if>
    </where>
    order by sku.id desc
    limit #{start}, #{rows}
  </select>

  <!--分页查询 start-->
  <select id="selectById" parameterType="java.lang.Long" resultMap="SkuOutResultMap">
    SELECT
      sku.id,
      sku.sku_code,
      sku.sku_name,
      sku.sku_type,
      sku.sell_price,
      sku.in_price,
      sku.stock_num,
      sku.pic_url,
      sku.create_time,
      sku.update_time,
      sku.opreator_id,
      sku.opreator_name,
      sku.sku_info,
      pr.id rule_id,
      pr.rule_type,
      pr.rule_desc,
      pr.end_time,
      pr.shop_id,
      pr.sku_id,
      cs.amount,
      (select count(1) from coupon where sku_id = sku.id) sell_num
    FROM sku sku
    LEFT JOIN promotion_rules pr ON sku.id = pr.sku_id
    LEFT JOIN coupon_sku cs on sku.id = cs.sku_id
    where sku.id = #{id,jdbcType=BIGINT}
  </select>

  <select id="listTotal" resultType="java.lang.Integer">
    select count(1)
    from sku
    <where>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null">
        and sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="skuType != null">
        and sku_type = #{skuType,jdbcType=INTEGER}
      </if>
    </where>
  </select>


  <!--分页查询 start-->
  <select id="queryTscList" resultMap="TscZanResultMap">
    select
      sku.id,
      sku.sku_code,
      sku.sku_name,
      sku.sku_type,
      sku.sell_price,
      sku.in_price,
      sku.stock_num,
      sku.pic_url,
      sku.create_time,
      sku.update_time,
      sku.opreator_id,
      sku.opreator_name,
      sku.sku_info,
    (select count(1) from zan z where ref_id = sku.id and z.type = 6) as zan,
    (select count(1) from zan z where ref_id = sku.id and z.type = 6
    <if test="zanUserId != null">
      AND  user_id = #{zanUserId}
    </if>
    ) as is_zan
    from sku sku
      inner join sku_shop ss on sku.id = ss.sku_id
    <where>
      <if test="id != null">
        sku.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null">
        and sku.sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku.sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="skuType != null">
        and sku.sku_type = #{skuType,jdbcType=INTEGER}
      </if>
      <if test="shopId != null">
        and ss.shop_id = #{shopId,jdbcType=BIGINT}
      </if>
    </where>
    order by id desc
    limit #{start}, #{rows}
  </select>

  <select id="tscListTotal" resultType="java.lang.Integer">
    select count(1)
    from sku sku
    inner join sku_shop ss on sku.id = ss.sku_id
    <where>
      <if test="id != null">
        sku.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="skuCode != null">
        and sku.sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku.sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="skuType != null">
        and sku.sku_type = #{skuType,jdbcType=INTEGER}
      </if>
      <if test="shopId != null">
        and ss.shop_id = #{shopId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <!--分页查询 end-->

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sku
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.xq.live.model.Sku">
    insert into sku (sku_code, sku_name,
      sku_type, sell_price, in_price, 
      stock_num, create_time, update_time, 
      opreator_id, opreator_name,sku_info)
    values (#{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR},
      #{skuType,jdbcType=INTEGER}, #{sellPrice,jdbcType=DECIMAL}, #{inPrice,jdbcType=DECIMAL},
      #{stockNum,jdbcType=INTEGER}, now(), now(),
      #{opreatorId,jdbcType=BIGINT}, #{opreatorName,jdbcType=VARCHAR},#{skuInfo,jdbcType=VARCHAR})
      <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
        select last_insert_id() as id
      </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.Sku">
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="skuType != null">
        sku_type,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="inPrice != null">
        in_price,
      </if>
      <if test="stockNum != null">
        stock_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="opreatorId != null">
        opreator_id,
      </if>
      <if test="opreatorName != null">
        opreator_name,
      </if>
      <if test="skuInfo != null">
        sku_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuType != null">
        #{skuType,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null">
        #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNum != null">
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opreatorId != null">
        #{opreatorId,jdbcType=BIGINT},
      </if>
      <if test="opreatorName != null">
        #{opreatorName,jdbcType=VARCHAR},
      </if>
      <if test="skuInfo != null">
        #{skuInfo,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      select last_insert_id() as id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.Sku">
    update sku
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="skuType != null">
        sku_type = #{skuType,jdbcType=INTEGER},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DECIMAL},
      </if>
      <if test="inPrice != null">
        in_price = #{inPrice,jdbcType=DECIMAL},
      </if>
      <if test="stockNum != null">
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opreatorId != null">
        opreator_id = #{opreatorId,jdbcType=BIGINT},
      </if>
      <if test="opreatorName != null">
        opreator_name = #{opreatorName,jdbcType=VARCHAR},
      </if>
      <if test="skuInfo != null">
        sku_info = #{skuInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.Sku">
    update sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      sku_type = #{skuType,jdbcType=INTEGER},
      sell_price = #{sellPrice,jdbcType=DECIMAL},
      in_price = #{inPrice,jdbcType=DECIMAL},
      stock_num = #{stockNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      opreator_id = #{opreatorId,jdbcType=BIGINT},
      opreator_name = #{opreatorName,jdbcType=VARCHAR},
      sku_info = #{skuInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
