<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.live.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.xq.live.model.Topic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="home_pic" jdbcType="VARCHAR" property="homePic" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="pic_ids" jdbcType="VARCHAR" property="picIds" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="tp_status" jdbcType="INTEGER" property="tpStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ZanSelect" extends="BaseResultMap" type="com.xq.live.vo.out.TopicForZanOut">
    <result column="zan" jdbcType="INTEGER" property="zan"/>
    <result column="is_zan" jdbcType="INTEGER" property="isZan"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, summary, home_pic, content, create_time, user_id, user_name, update_time, is_deleted, tp_status, nick_name, pic_ids
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByZan" parameterType="com.xq.live.vo.in.TopicInVo" resultMap="ZanSelect">
    select
    <include refid="Base_Column_List" />,
    (select count(1) from zan where ref_id = a.id) as zan,
    (select count(1) from zan where ref_id = a.id
    <if test="zanUserId != null">
      AND  user_id = #{zanUserId}
    </if>
    ) as is_zan
    from topic a
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="com.xq.live.model.Favorites" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.live.model.Topic">
    insert into topic (title, summary, home_pic, content,
      create_time, user_id, user_name,
      update_time, nick_name, pic_ids)
    values (#{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{homePic,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      now(), #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
      now(), #{nickName,jdbcType=VARCHAR}, #{picIds,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
        select last_insert_id() as id
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.xq.live.model.Topic">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
      select last_insert_id() as id
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.live.model.Topic">
    update topic
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="picIds != null">
        pic_ids = #{picIds,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="tpStatus != null">
        tp_status = #{tpStatus,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.live.model.Topic">
    update topic
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from topic
    <where>
      <if test="id != null">
        id =#{id}
      </if>
      <if test="title != null">
        and title like concat('%', #{title}, '%')
      </if>
      <if test="content != null">
        and content like concat('%', #{content}, '%')
      </if>
      <if test="summary != null">
        and summary like concat('%', #{summary}, '%')
      </if>
    </where>
    order by id desc
    limit #{start}, #{rows}
  </select>

  <select id="listTotal" resultType="java.lang.Integer">
    select count(1)
    from topic
    <where>
      <if test="id != null">
        id =#{id}
      </if>
      <if test="title != null">
        and title like concat('%', #{title}, '%')
      </if>
      <if test="content != null">
        and content like concat('%', #{content}, '%')
      </if>
      <if test="summary != null">
        and summary like concat('%', #{summary}, '%')
      </if>
    </where>
  </select>
</mapper>
